---
import { useSanityClient } from "@sanity/astro";

const posts = await useSanityClient().fetch(`*[_type == "post"]`);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My blog</title>
  </head>
  <body>
    <h1>My blog</h1>
    {
      posts && (
        <ul>
          {posts.map((post) => (
            <li>
              <a href={`post/${post.slug?.current}`}>{post.title}</a>
            </li>
          ))}
        </ul>
      )
    }
  </body>
</html>
